XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 10
XTerm*boldFont: DejaVu Sans Mono Bold
XTerm*Utf8Title: true


! ! Grey15 Grey
! URxvt.background:  grey15
! URxvt.foreground:  grey
! URxvt.reverseVideo: false
! !------------------------------------------------
! ! URxvt.background:  #000000
! ! URxvt.foreground:  #7f7f7f
URxvt.color0:      #000000
URxvt.color1:      #9e1828
URxvt.color2:      #aece92
URxvt.color3:      #968a38
URxvt.color4:      #414171
URxvt.color5:      #963c59
URxvt.color6:      #418179
URxvt.color7:      #bebebe
URxvt.color8:      #666666
URxvt.color9:      #cf6171
URxvt.color10:     #c5f779
URxvt.color11:     #fff796
URxvt.color12:     #4186be
URxvt.color13:     #cf9ebe
URxvt.color14:     #71bebe
URxvt.color15:     #ffffff

! ! ------------------------------------------------
! ! URxvt.color0:      #000000
! ! URxvt.color1:      #9e1828
! ! URxvt.color2:      #aece92
! ! URxvt.color3:      #968a38
! ! URxvt.color4:      #414171
! ! URxvt.color5:      #963c59
! ! URxvt.color6:      #418179
! ! URxvt.color7:      #bebebe
! ! URxvt.color8:      #666666
! ! URxvt.color9:      #cf6171
! ! URxvt.color10:     #c5f779
! ! URxvt.color11:     #fff796
! ! URxvt.color12:     #4186be
! ! URxvt.color13:     #cf9ebe
! ! URxvt.color14:     #71bebe
! ! URxvt.color15:     #ffffff

! URxvt.tabbed.tab-bg: 8
! URxvt.tabbed.tab-fg: 4
! URxvt.tabbed.tabbar-bg: 8
! URxvt.tabbed.tabbar-fg: 15

URxvt.scrollBar: true
URxvt.scrollstyle: plain
!URxvt.scrollColor: #666666
URxvt.loginShell: true

! Make ^G set urgent bit
URxvt.urgentOnBell: true

! rxvt perl extensions setup
! ---------------------------------------------------------------------------
! removing annoying search
!URxvt.perl-ext-common: default,-searchable-scrollback,selection-popup,tabbed
URxvt.perl-ext-common: default,-searchable-scrollback,selection-popup,tabbed

! Font settings
! URxvt uses UTF-8, so we dont need encoding-specific settings
! ---------------------------------------------------------------------------
! URxvt.font: xft:DejaVu Sans Mono:pixelsize=13:antialias=false
! URxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=13:antialias=false
! URxvt.italicFont: xft:DejaVu Sans Mono:pixelsize=13:antialias=false
! URxvt.boldItalicFont: xft:DejaVu Sans Mono:pixelsize=13:antialias=false


URxvt.font: xft:monaco:size=9:antialias=false
!URxvt.boldFont: xft:Monaco:pixelsize=13:antialias=false
!URxvt.italicFont: xft:Monaco:pixelsize=13:antialias=false
!URxvt.boldItalicFont: xft:Monace:pixelsize=13:antialias=false

!URxvt.font: xft:Monaco:pixelsize=12:antialias=false
!URxvt.boldFont: xft:Monaco:pixelsize=13:antialias=false
!URxvt.italicFont: xft:Monaco:pixelsize=13:antialias=false
!URxvt.boldItalicFont: xft:Monace:pixelsize=13:antialias=false
